$almost-white:              #EEE;
$dark-grey:                 #444;

body {
    line-height: 1.6;
    font-size: 18px;
    background-color: $almost-white;
    color: $dark-grey;
}

h1, h2, h3 {
    line-height:1.2
}
